<div class="container">
  <h2>Rent <%= @offer.title %></h2>

  <%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.association :payment_method, label_method: :title %>
  <%= f.submit %>
  <% end %>
</div>
