<div class="container my-3">
  <h1 class="text-center fw-bold"><%= @offer.title %></h1>

  <div class="row">
    <div class="col-md-4">
      <% @offer.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 400, width: 400, style: "object-fit: cover;" %>
      <% end %>
    </div>

    <div class="col-md-8">
      <p><strong>Brand:</strong> <%= @offer.brand %></p>
      <p><strong>Condition:</strong> <%= @offer.condition %></p>
      <p><strong>Price:</strong> <%= @offer.price %></p>
      <p><strong>City:</strong> <%= @offer.city %></p>

      <h1>Booking</h1>
      <p><strong>Start date:</strong> <%= @booking.start_date %></p>
      <p><strong>End date:</strong> <%= @booking.end_date  %></p>
      <p><strong>Payment method:</strong> <%= @booking.payment_method  %></p>
      <p><strong>Booked on:</strong> <%= @booking.created_at  %></p>

      <%= link_to "Cancel this booking", booking_path(@booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" }, class: "btn btn-success" %>
      <%= link_to "Send a message to the owner", "#", class: "btn btn-success" %>
      <%= link_to "Return to my bookings", bookings_path, class: "btn btn-success" %>
    </div>
  </div>

</div>
