<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container w-100">
    <a href="/" class="text-muted"><i class="fa-solid fa-bag-shopping fa-beat-fade" style="font-size: 30px;"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h2 class="chic-swap text-right mx-5 my-1">Chic Swap</h2>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/offers">Discover</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bookings">My bookings</a>
            </li>
            <li class="nav-item">
              <%= link_to "Rent your bag", href="/offers/new", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
              </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "My Profile", my_profile_path, class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                  <%= link_to "Messages", "#", class: "nav-link" %>
                  <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link' %>
                </div>
              </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
