<div class = "container">

  <h1>Offers Page</h1>
  <ul>
    <% @offers.each do |offer| %>
    <li>
      <%= offer.title %>
      <%= offer.brand %>
      <%= offer.condition %>
      <%= offer.price %>
      <%= offer.city %>
    </li>
    <% end %>
  </ul>

</div>
