<div class="container my-3">
  <h2 class="text-center fw-bold">New Offer</h2>
  <p class="text-center">Give you bag a new temporary home. List your bag here for our global fashion community!</p>
  <%= simple_form_for [@offer] do |f| %>
    <%= f.input :title %>
    <%= f.input :brand %>
    <%= f.input :condition %>
    <%= f.input :price %>
    <%= f.input :city %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
