<div class= "container">
  <div class="row mt-5">
    <div class="col-md-4">
      <% if @offer.photos.attached? %>
        <% @offer.photos.each do |photo| %>
          <%= cl_image_tag photo.key, width: 600, crop: :fill, class: "card-img-top"%>
        <% end %>
      <% else %>
        <img class= "card-img-top" height= 400, width= 400 src= "/assets/bags/jackie_1961.jpg" alt="">
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title mb-3"><%= @offer.title %></h5>
        <p class="card-text">Condition: <%= @offer.condition %></p>
        <p class="card-text">Price: $<%= @offer.price %></p>
        <p class="card-text">Location: <%= @offer.city %></p>
        <p class="card-text">Seller: <%= link_to "#{@offer.user.first_name} #{@offer.user.last_name}", profile_path(@offer.user) %></p>
        <hr>
        <% if @offer.reviews.count > 0 %>
          <div class="card">
            <h5 class="card-header">Reviews</h5>
            <% @offer.reviews.each do |review| %>
              <div class="card-body">
                <h5 class="card-title"><%= review.user.first_name %> <%= review.user.last_name %></h5>
                <p class="card-text"><%= '⭐️' * review.rating %></p>
                <p class="card-text"><%= review.description %></p>
              </div>
            <% end %>
          </div>
          <hr>
        <% end %>

        <div class="buttons">
          <% if @offer.user == current_user %>
            <%= link_to "Delete offer", offer_path(@offer), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this offer?" }, class: "btn btn-booking w-25 mt-5", style: "background-color: #FFC26F;"  %>
          <% else %>
            <%= link_to "Rent this bag!", new_offer_booking_path(@offer), class: "btn btn-booking mt-1", style: "background-color: #FFC26F;"  %>
          <% end %>
          <%= link_to "Back to all bags", offers_path, class: "btn btn-booking mt-1", style: "background-color: #FFC26F;"  %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div id="map" style="width: 100%; height: 80%;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="container">
      <p class="text-center fs-5" style="margin-top: 200px;">Similar Items</p>
      <div class="row d-flex">
        <div class="row justify-content-evenly">
          <% @homepage_items.each do |i| %>
            <div class="col-2 mt-3 mb-3">
              <div class="card item" style="width: 10rem;">
                <%= cl_image_tag(i.photos.first.key, height: 200, width: 300, class: "card-img-top offer-img") %>
                <div class="card-body">
                  <%= link_to "#{i.title}", offer_path(i), class: "btn offer d-flex justify-content-center" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
