<div class= "container">

<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title mb-3"><%= @offer.title %></h5>
    <p class="card-text">Condition: <%= @offer.condition %></p>
    <p class="card-text">Price: <%= @offer.price %></p>
    <p class="card-text">Location: <%= @offer.city %></p>
    <p class="card-text">Availability: <%= @offer.status %></p>
    <p class="card-text">Seller: <%= @offer.user.first_name %> <%= @offer.user.last_name %></p>
    <% if @offer.reviews.count > 0 %>
      <% @offer.reviews.each do |review| %>
        <p>Reviews:</p>
        <p><%= review.user.first_name %> <%= review.user.last_name %> -  ⭐️ * <%= review.rating %></p>
      <% end %>
    <% end %>

    <p class="btn btn-success"> <%= link_to "Rent this bag", new_offer_booking_path(@offer) %> </p>
  </div>
  <p class="m-3"><%= link_to "Back to all bags", offers_path %> </p>
</div>
</div>
