<div class="container">

  <%= simple_form_for [@offer, @booking, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :rating %>
    <%= f.submit %>
  <% end %>
</div>
